[submodule "depthai-ros"]
	path = depthai-ros
	url = https://github.com/luxonis/depthai-ros.git
	branch = noetic-devel
[submodule "depthai-ros-examples"]
	path = depthai-ros-examples
	url = https://github.com/luxonis/depthai-ros-examples.git
	branch = noetic-devel
[submodule "vision_msgs"]
	path = vision_msgs
	url = https://github.com/ros-perception/vision_msgs.git
